---
import DocsLayout from '../layouts/DocsLayout.astro';
---

<DocsLayout title="writing">
  <div class="mt-40"> <!-- Adds margin-top to push content lower -->
    <h1 class="text-2xl font-bold mb-20">Assah Bismark</h1>
    <div class="text-white-300 space-y-4">
      <p>
        I'm a software engineer based in Cameroon, currently working at <a href="https://adorsys.com" class="text-green-300 hover:underline">adorsys GmbH & Co. KG</a> as a FullStack Software Engineer.
      </p>
      <p>
        Today, I spend most of my time working on <a href="https://github.com/adorsys/datasafe" class="text-green-300 hover:underline">Datasafe</a>, an advanced data protection solution, and <a href="https://github.com/adorsys/keycloak-config-cli" class="text-green-300 hover:underline">Keycloak-config-cli</a>, a tool for managing Keycloak configurations.
      </p>
      <p>
        My work includes writing code, implementing security algorithms, and deploying solutions in cloud environments like <a href="https://aws.amazon.com/" class="text-green-300 hover:underline">AWS</a> and <a href="https://www.openshift.com/" class="text-green-300 hover:underline">OpenShift</a>.
      </p>
      <p>
        I specialize in <a href="https://www.java.com/" class="text-green-300 hover:underline">Java</a>, <a href="https://spring.io/projects/spring-boot" class="text-green-300 hover:underline">Spring Boot</a>, <a href="https://www.docker.com/" class="text-green-300 hover:underline">Docker</a>, and <a href="https://kubernetes.io/" class="text-green-300 hover:underline">Kubernetes</a>, as well as security protocols like <a href="https://oauth.net/2/" class="text-green-300 hover:underline">OAuth2</a> and <a href="https://openid.net/connect/" class="text-green-300 hover:underline">OpenID Connect</a>.
      </p>
    </div>
  </div>
</DocsLayout>
